<div class="w-full h-full bg-Surface-low pb-12">
  <div class="h-20 pr-10 pl-10 flex items-center">
    <div class="flex gap-2 items-center">
      <img src="/assets/icons/logo-icon.svg" alt="logo-icon" class="w-5 h-5" />
      <p class="font-bold text-xl">TASKLY</p>
    </div>
  </div>
  <div class="bg-background w-xl h-full mx-auto p-12 mt-16 rounded-lg">
    <div class="pb-10 flex flex-col gap-2">
      <p class="text-3xl font-semibold text-neutral-high">Forgot password?</p>
      <p class="text-sm text-neutral-md">No worries, we'll send you reset instructions.</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="sendResetLink()" class="pb-4 flex flex-col gap-6">
      <div>
        <p
          class="font-bold text-xs text-neutral-md"
          [ngClass]="
            emailControl.invalid && emailControl.touched ? 'text-red-600' : 'text-neutral-md'
          "
        >
          EMAIL ADDRESS
        </p>
        <input
          formControlName="email"
          type="email"
          placeholder="Enter your email"
          class="w-full bg-surface-highest h-12 rounded-sm px-4 py-3.5 mt-2 placeholder:text-base placeholder:text-placeholder focus:outline-none invalid:not-focus:bg-invalid"
          [ngClass]="
            emailControl.invalid && emailControl.touched ? 'bg-invalid' : 'bg-surface-highest'
          "
        />
      </div>

      <button
        type="submit"
        class="cursor-pointer bg-linear-to-r from-primary to-primary-container h-12 font-semibold text-base rounded-sm text-background"
      >
        Send Reset Link
      </button>

      <div class="text-center">
        <p class="text-sm text--neutral-md flex gap-1 justify-center items-center">
          <img src="/assets/icons/back-Icon.svg" alt="back-icon" class="h-4 w-4" />
          <span class="text-primary font-medium text-sm">
            <a routerLink="/login">Back to log in</a>
          </span>
        </p>
      </div>
    </form>

    <div class="flex flex-col gap-6 pt-10 border-t-1 border-neutral-low/30 border-solid">
      <div class="bg-success/20 p-4 flex gap-3 rounded-lg">
        <img src="/assets/icons/green-check-Icon.svg" alt="green-check-Icon" class="h-5 w-5" />
        <p class="text-sm font-normal pr-10">
          If an account exists with this email, we’ve sent a password reset link.
        </p>
      </div>
      <div class="flex flex-col gap-3">
        <p class="text-center text-remember text-xs font-bold uppercase">
          Didn't receive the email?
        </p>
        <button
          (click)="resend()"
          class="bg-Surface-low rounded-sm flex gap-2 h-12 items-center justify-center cursor-pointer"
        >
          <img src="/assets/icons/timer-Icon.svg" alt="timer-Icon" />
          <p class="font-semibold text-base leading-5">Resend in 05:00</p>
        </button>
      </div>
    </div>
  </div>
</div>
