<div class="w-full min-h-lvh bg-Surface-low pb-12">
  <div class="h-20 pr-10 pl-10 flex items-center">
    <div class="flex gap-2 items-center">
      <img src="/assets/icons/logo-icon.svg" alt="logo-icon" class="w-5 h-5" />
      <p class="font-bold text-xl">TASKLY</p>
    </div>
  </div>

  <div class="bg-background w-xl mx-auto p-12 rounded-lg">
    <div class="pb-10 flex flex-col gap-2">
      <p class="text-3xl/9 font-semibold text-neutral-high">Create a New Password</p>
      <p class="text-sm text-neutral-md">
        Create a new, strong password to secure your workstation access.
      </p>
    </div>

    @if (!isReady && errorMessage) {
      <div class="bg-invalid/20 p-4 rounded-lg mb-6">
        <p class="text-sm font-normal text-red-600">{{ errorMessage }}</p>
      </div>
    }

    @if (isReady) {
      <form [formGroup]="form" class="pb-4 flex flex-col gap-6">
        <div class="relative">
          <p
            class="font-bold text-xs text-neutral-md"
            [ngClass]="
              this.form.get('newPassword')?.invalid && this.form.get('newPassword')?.touched
                ? 'text-red-600'
                : 'text-neutral-md'
            "
          >
            NEW PASSWORD
          </p>
          <input
            formControlName="newPassword"
            [type]="isVisible() ? 'text' : 'password'"
            type="password"
            class="w-full bg-Surface-low h-12 rounded-sm px-4 py-3.5 mt-2 placeholder:text-base placeholder:text-placeholder focus:outline-none invalid:not-focus:bg-invalid"
            placeholder="Password"
            [ngClass]="
              this.form.get('newPassword')?.invalid && this.form.get('newPassword')?.touched
                ? 'bg-invalid'
                : 'bg-Surface-low'
            "
          />
          <button class="absolute top-10 right-4" (click)="toggleVisibility()">
            <img
              class=""
              [src]="isVisible() ? '/assets/icons/eye-off.svg' : '/assets/icons/eye-Icon.svg'"
              src="/assets/icons/eye-Icon.svg"
              alt="eye-Icon"
            />
          </button>
        </div>

        <div class="">
          <p
            class="font-bold text-xs text-neutral-md"
            [ngClass]="
              this.form.get('confirmPassword')?.invalid && this.form.get('confirmPassword')?.touched
                ? 'text-red-600'
                : 'text-neutral-md'
            "
          >
            CONFIRM PASSWORD
          </p>
          <input
            formControlName="confirmPassword"
            type="password"
            class="w-full h-12 rounded-sm px-4 py-3.5 mt-2 placeholder:text-base placeholder:text-placeholder focus:outline-none"
            placeholder="Repeat your password"
            [ngClass]="
              this.form.get('confirmPassword')?.invalid && this.form.get('confirmPassword')?.touched
                ? 'bg-invalid'
                : 'bg-Surface-low'
            "
          />
        </div>

        <div class="p-4 bg-Surface-low rounded-lg flex flex-col gap-4">
          <p
            class="font-bold text-xs leading-4 text-remember pb-2 border-b-1 border-neutral-low/20 border-solid"
          >
            Security Requirements
          </p>

          <div class="grid grid-cols-2 gap-3">
            <div class="flex gap-2 items-center">
              @if (
                !form.get('newPassword')?.hasError('minlength') &&
                form.get('newPassword')?.value.toString().length >= 8 &&
                !form.get('newPassword')?.hasError('maxLength') &&
                form.get('newPassword')?.value.toString().length <= 64
              ) {
                <img
                  src="/assets/icons/check-validators.svg"
                  alt="green-check-Icon"
                  class="h-3 w-3"
                />
                <p class="text-xs text-neutral-high">8 - 64 characters</p>
              } @else {
                <img
                  src="/assets/icons/empty-check-validators.svg"
                  alt="green-check-Icon"
                  class="h-3 w-3"
                />
                <p class="text-xs text-neutral-high opacity-50">8 - 64 characters</p>
              }
            </div>

            <div class="flex gap-2 items-center">
              @if (!form.get('newPassword')?.hasError('hasUppercase')) {
                <img
                  src="/assets/icons/check-validators.svg"
                  alt="green-check-Icon"
                  class="h-3 w-3"
                />
                <p class="text-xs text-neutral-high">Uppercase letter</p>
              } @else {
                <img
                  src="/assets/icons/empty-check-validators.svg"
                  alt="green-check-Icon"
                  class="h-3 w-3"
                />
                <p class="text-xs text-neutral-high opacity-50">Uppercase letter</p>
              }
            </div>
            <div class="flex gap-2 items-center">
              @if (!form.get('newPassword')?.hasError('hasLowercase')) {
                <img
                  src="/assets/icons/check-validators.svg"
                  alt="green-check-Icon"
                  class="h-3 w-3"
                />
                <p class="text-xs text-neutral-high">Lowercase letter</p>
              } @else {
                <img
                  src="/assets/icons/empty-check-validators.svg"
                  alt="green-check-Icon"
                  class="h-3 w-3"
                />
                <p class="text-xs text-neutral-high opacity-50">Lowercase letter</p>
              }
            </div>
            <div class="flex gap-2 items-center">
              @if (!form.get('newPassword')?.hasError('hasNumber')) {
                <img
                  src="/assets/icons/check-validators.svg"
                  alt="green-check-Icon"
                  class="h-3 w-3"
                />
                <p class="text-xs text-neutral-high">One digit</p>
              } @else {
                <img
                  src="/assets/icons/empty-check-validators.svg"
                  alt="green-check-Icon"
                  class="h-3 w-3"
                />
                <p class="text-xs text-neutral-high opacity-50">One digit</p>
              }
            </div>
            <div class="flex gap-2 items-center">
              @if (!form.get('newPassword')?.hasError('hasSpecialCharacter')) {
                <img
                  src="/assets/icons/check-validators.svg"
                  alt="green-check-Icon"
                  class="h-3 w-3"
                />
                <p class="text-xs text-neutral-high">Special character</p>
              } @else {
                <img
                  src="/assets/icons/empty-check-validators.svg"
                  alt="green-check-Icon"
                  class="h-3 w-3"
                />
                <p class="text-xs text-neutral-high opacity-50">Special character</p>
              }
            </div>
          </div>
        </div>
        @if (isSuccess) {
          <div class="bg-success/20 p-4 rounded-lg">
            <p class="text-sm font-normal text-neutral-high">
              Your password has been updated successfully. You can now log in.
            </p>
          </div>
        }
        <!-- <button
          type="submit"
          [disabled]="isSubmitting"
          class="cursor-pointer bg-linear-to-r from-primary to-primary-container h-12 font-semibold text-base rounded-sm text-background shadow-x disabled:cursor-not-allowed disabled:opacity-70"
        >
          {{ isSubmitting ? 'Updating...' : 'Update Password' }}
        </button> -->
        <tm-button
          [btnWidth]="'100%'"
          [label]="isSubmitting ? 'Updating...' : 'Update Password'"
          [isDisabled]="form.invalid"
          (btnClick)="resetPassword()"
        ></tm-button>
        <div class="text-center">
          <p class="text-sm text--neutral-md">
            <span class="text-primary font-medium text-sm">
              <a routerLink="/login">Back to sign in</a>
            </span>
          </p>
        </div>
      </form>
    }
  </div>
</div>
